@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
        margin: 0;
        padding: 0;
}

body {
        font-family: 'Lato', sans-serif;
}

a {
        text-decoration: none;
}

ul,
ol {
        list-style: none;
}

.basic {
        color: rgba(39, 39, 39, 0.60);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
}

.title {
        color: #272727;
        text-align: center;
        font-size: 40px;
        font-weight: 800;

}

.common_button {
        padding: 20px 45px;
        border-radius: 8px;
        background: #E55473;
        border: none;
        cursor: pointer;
}

.common_button a {
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
}

/* =================================
            common part end
    =============================== */

/* ===================================
                Banner part start
        ================================== */
.banner_container {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(229, 84, 115, 0.10);
}

.banner_text h1 {
        width: 708px;
        color: #272727;
        font-size: 80px;
        font-weight: 800;
}

.banner_text p {
        width: 634px;
        padding: 32px 0;
}

.banner_container banner_img {
        width: 635px;
}

/* ===================================
                Banner part end
        ================================== */



/* ===================================
        Fetured flowers part start
        ================================== */

.featured_flowers {
        padding: 130px 0;
}

.featured_flowers .featured_text p {
        width: 594px;
        text-align: center;
        margin: 0 auto;
        padding: 10px 0 50px;
}

.featured_flowers .featured_items {
        display: flex;
        gap: 25px;
        justify-content: center;
}

.featured_flowers .featured_items .item_1,
.featured_flowers .featured_items .item_2,
.featured_flowers .featured_items .item_3 {
        background: rgba(167, 33, 98, 0.15);
        width: 464px;
        height: 538px;
        border-radius: 300px 300px 0px 0px;
}

.featured_flowers .featured_items .item_1 img {
        padding: 110px 76px 0 76px;
}

.featured_flowers .featured_items .item_2 img {
        padding: 117px 45px 50px 45px;
}

.featured_flowers .featured_items .item_3 img {
        padding: 65px 75px 0px 75px;
}

.featured_flowers .featured_items .item_1 p,
.featured_flowers .featured_items .item_2 p,
.featured_flowers .featured_items .item_3 p {
        color: #272727;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        text-decoration-line: underline;
        padding-top: 30px;
}

/* ===================================
        Fetured flowers part end
        ================================== */

/* ==============================
        Special Offers part start
    ============================= */
.special_offers_container {
        padding-top: 55px;
}

.special_offers_container h3 {
        padding-bottom: 50px;
}

.offer_items {
        display: flex;
        justify-content: center;
        gap: 85px;
        padding-bottom: 50px;
}

.offer_items .card {
        width: 296px;
        height: 435px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

}

.offer_items .card img {
        width: 100%;
        border-radius: 10px;
}

.card_text {
        display: flex;
        justify-content: space-between;
        padding: 35px 0 30px;
}

.offer_items .card .basic_title {
        color: #272727;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
}

.card_text span {
        color: #2b3330;
        font-size: 16px;
        font-weight: 400;
}

.btn {
        padding: 12px;
        border-radius: 8px;
        background: #fff;
        border: 1px solid #2b3330;
        cursor: pointer;
}

.btn a {
        color: #2b3330;
        font-size: 16px;
        font-weight: 700;
}

.card_price span {
        color: #2b3330;
        font-size: 18px;
        font-weight: 600;
        margin-left: 5px;
}

.view_all_button {
        padding: 20px 45px;
        border-radius: 8px;
        background: #E55473;
        border: none;
        cursor: pointer;
        display: block;
        margin: 0 auto;
}

.view_all_button a {
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
}


/* ==============================
        Special Offers part end
    ============================= */



/* ===================================
                Support part start
        ================================== */
.support_container {
        margin: 130px auto;
        border-radius: 8px;
        background: rgba(39, 39, 39, 0.05);
        width: 80%;

}

.support_container .support_items {
        padding: 85px 50px;
        display: flex;
        justify-content: space-evenly;
}

.support_container .support_items .item {
        width: 372px;
        text-align: center;
}


/* ===================================
                Support part end
        ================================== */


/* ===================================
        Limited Edition part start
        ================================== */

.limitededition_container {
        margin-bottom: 130px;
        border-radius: 8px;
        background: rgba(229, 84, 115, 0.05);
}

.limitededition_container .limited_items {
        display: flex;
        gap: 175px;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
}

.limitededition_container .limited_items .limited_text {
        text-align: center;
}

.limitededition_container .limited_items .limited_text p {
        width: 595px;
        margin: 0 auto;
        padding: 10px 0 25px;
}

.limitededition_container .limited_items .limited_text span {
        color: #E55473;
        font-size: 40px;
        font-weight: 800;
}

/* ===================================
        Limited Edition part end
        ================================== */



/* ===================================
                Instagram part start
        ================================== */

.instagram_container {
        padding-bottom: 130px;
}

.instagram_container .instagram_text p {
        width: 594px;
        text-align: center;
        margin: 0 auto;
        padding: 14px 0 45px;
}

.instagram_container .instagram_items {
        display: flex;
        justify-content: center;
        gap: 25px;
}

/* ===================================
                Instagram part end
        ================================== */

/* ===================================
                Subscribe part start
        ================================== */

.subscribe_container {
        width: 80%;
        padding: 130px;
        background: url(./asset/subscribe_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

.subscribe_container .subscribe_text p {
        text-align: center;
        padding: 10px 0 45px;
}

.subscribe_button {
        display: flex;
        justify-content: center;
        gap: 16px;
}

.subscribe_button input {
        padding: 22px 513px 22px 22px;
        border: none;
        border-radius: 8px;
}

/* ===================================
                Subscribe part end
        ================================== */



/* ===================================
                Banner part start
        ================================== */

/* ===================================
                Banner part end
        ================================== */