@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
        margin: 0;
        padding: 0;
}

body {
        font-family: 'Lato', sans-serif;
}

ul,
ol {
        list-style: none;
}

.basic {
        color: rgba(39, 39, 39, 0.60);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
}

.title {
        color: #272727;
        text-align: center;
        font-size: 40px;
        font-weight: 800;

}

.common_button {
        padding: 20px 45px;
        border-radius: 8px;
        background: #E55473;
        border: none;
}

.common_button a {
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;

}

/* =================================
            common part end
    =============================== */

/* ===================================
                Banner part start
        ================================== */
.banner_container {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(229, 84, 115, 0.10);
}

.banner_text h1 {
        width: 708px;
        color: #272727;
        font-size: 80px;
        font-weight: 800;

}

.banner_text p {
        width: 634px;
        padding: 32px 0;
}

.banner_container banner_img {
        width: 635px;
}

/* ===================================
                Banner part end
        ================================== */



/* ===================================
        Fetured flowers part start
        ================================== */

.featured_flowers {
        padding-top: 130px;
}

.featured_flowers .featured_text p {
        width: 594px;
        text-align: center;
        margin: 0 auto;
        padding: 10px 0 45px;
}

.featured_flowers .featured_items {
        display: flex;
        gap: 25px;
        justify-content: center;
}

.featured_flowers .featured_items .item_1,
.featured_flowers .featured_items .item_2,
.featured_flowers .featured_items .item_3 {
        background: rgba(167, 33, 98, 0.15);
        width: 464px;
        height: 538px;
        border-radius: 300px 300px 0px 0px;
}

.featured_flowers .featured_items .item_1 img {
        padding: 110px 76px 0 76px;
}

.featured_flowers .featured_items .item_2 img {
        padding: 117px 45px 50px 45px;
}

.featured_flowers .featured_items .item_3 img {
        padding: 65px 75px 0px 75px;
}

.featured_flowers .featured_items .item_1 p,
.featured_flowers .featured_items .item_2 p,
.featured_flowers .featured_items .item_3 p {
        color: #272727;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        text-decoration-line: underline;
        padding-top: 30px;
}

/* ===================================
        Fetured flowers part end
        ================================== */

/* ===================================
                Banner part start
        ================================== */

/* ===================================
                Banner part end
        ================================== */
/* ===================================
                Banner part start
        ================================== */

/* ===================================
                Banner part end
        ================================== */
/* ===================================
                Banner part start
        ================================== */

/* ===================================
                Banner part end
        ================================== */